.container {
  background-color: #f7faff;
  // margin-left: 80px;
  // margin-right: 80px;
}
html[data-theme='dark'] .container {
  background-color: #2b3137 !important;
}

.content {
  max-width: 1440px;
  min-height: 388px;
  margin: 0 auto;
  padding-top: 72px;
  padding-left: 68px;
  background-color: #f7faff;
  background-image: url(./01-2banner图@2x.png);
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
html[data-theme='dark'] .content {
  background-color: #2b3137 !important;
}

.title {
  font-size: 50px;
  // margin-bottom: 32px;
}

.tagLine {
  font-size: 18px;
  // margin-bottom: 32px;
}

.getStartedButton {
  display: inline-block;
  padding: 8px 18px;
  font-size: 20px;
  color: #fff;
  border-radius: 8px;
  background: linear-gradient(97.73deg, #76e1f9 7.7%, #1949e7 97.25%);
  transition: transform 0.25s ease-in-out;
  margin-top: 32px;

  &:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.1);
  }

  &:active {
    transform: none;
  }
}

.getStartedDescription {
  margin-top: 30px;
  margin-right: 712px;
  font-size: 14px;
}

@media (max-width: 1440px) {
  .content {
    // Following original design ratio
    background-size: 91.4%;
  }
}

@media (max-width: 1280px) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 425px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }

  .content {
    padding: 80px 20px;
    text-align: center;
    min-height: 660px;
    background-size: 100%;
  }
}
